{% extends 'base.html' %} 
{% load static%} 
{% load tags %} 
{% block content %}
<div
  class="site-blocks-cover"
  data-aos="fade"
  style="height: 90vh; display: flex; align-items: center; background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('{% static 'images/books.jpg' %}'); 
          background-position: center; background-repeat: no-repeat;
          background-size: cover;">
  <div class="container">
    <h1 style="color: #fff;">allbook.kz</h1>
    <p style="color: #fff; width: 70%;">Кез-келген кітапты жарты бағамен оқыңыз! Одан да арзанырақ алғыңыз келе ме? Веб-сайтта туралы толық ақпаратты қараңыз.</p>
    <a href="/books/1" class="primary-button">Кітаптар</a>
  </div>
</div>

<div class="site-section">
  <div class="container">
  {% with 3 as count %}
    {% for genre in categories %}
      
      <div class="row">
        <div class="title-section mb-5 col-12">
          <h2 style="text-transform: uppercase">{{ genre }} жанрда танымал</h2>
        </div>
      </div>
      
      <div class="row">
        {% for book in books %} 
          {% if book.category == genre and count != 0 %}
          {% assign count|dcr as count %}
          <div class="col-lg-4 col-md-6 item-entry mb-4">
            <a href="books/book_info/{{ book.id }}/" class="product-item md-height bg-gray d-block">
              <img src="{{ book.img.url }}" alt="Image" class="img-fluid" />
            </a>
            <h2 class="item-title">
              <a href="books/book_info/{{ book.id }}/"style="text-transform: capitalize">
                {{ book.title }}
              </a>
            </h2>
            <strong class="item-price">{{book.price}} &#8376;</strong>
          </div>
          {% endif %}
        {% endfor %}
        
      </div>
      <div class="row">
        <a href="/books/filter/category/{{genre}}/1" style="color: #ee4e34;">Кітаптарды қарау</a>
      </div>
      <br><br><br><br>
    {% endfor %}
    {% endwith %}
  </div>
</div>

  </div>
</div>

{% endblock %}
