{% extends 'base.html' %} {% load static %} {% block content %}

<div class="site-section">
  <div class="container">
    
    <div class="block-7">
      <div class="col-md-4" style="margin-left: 70%;">
      <form action="search_order">
        <div class="form-group">
          <input type="text" class="form-control py-4" name="order_id" id="order_id" placeholder="Тапсырыс № енгізіңіз">
          <input type="submit" class="btn btn-sm btn-success" value="Іздеу">
        </div>
      </form>
    </div>
    </div>
    <br>
    <div class="row mb-5">
      {% for message in messages %}
      <p style="color: red;">{{ message }}</p>
      {% endfor %}
      <table class="table table-bordered" style="min-width: 20%;">
        <thead>
          <tr>
            <th class="product">Тапсырыс №</th>
            <th class="product">Тапсырыс беруші</th>
            <th class="product">Барлығы</th>
            <th class="product">Курьер жеткізді</th>
            <th class="product">Жеткізу күні</th>
            <th class="product">Қайтарылды</th>
            <th class="product">Қайтару күні</th>
          </tr>
        </thead>
        <tbody>
          {% for rent in rents %}
          <tr>
            <td>
              <h2 class="h6 text-black">{{ rent.order.id }}</h2>
            </td>
            <td>
              <h2 class="h6 text-black">{{ rent.order.customer.first_name }}</h2>
            </td>
            <td class="product-name">
              <h2 class="h6 text-black">{{ rent.cost }}</h2>
            </td>
            <td>
              {% if not rent.is_received %}
              <button
                class="btn btn-primary btn-sm btn-block"
                id="is_delivered"
                style="max-width: 150px; max-height:30px; text-transform:capitalize"
                onclick="window.location = '/update_status/del/{{ rent.id }}'"
              >
                confirm delivery
              </button>
              {% else %} <span class="bg-success text-white p-2">Жеткізілді</span> {% endif %}
            </td>
            <td class="product-name">
              <h2 class="h6 text-black">{{ rent.received_date }}</h2>
            </td>
            <td>
              {% if not rent.is_returned %}
              <button
                class="primary-button-block"
                id="is_returned"
                style="text-transform:capitalize"
                onclick="window.location = '/update_status/ret/{{ rent.id }}'"
              >
                Растау
              </button>
              {% else %} <span class="bg-success text-white p-2">Қайтарылды</span> {% endif %}
            </td>
            {% if rent.return_date %}
            <td class="product-name">
              <h2 class="h6 text-black">{{ rent.return_date }}</h2>
            </td>
            {% else %}
            <td class="product-name">
              <span class="bg-danger p-2 text-white">Қайтарылмады</span>
            </td>
            {% endif %}
          </tr>

          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
