{% extends 'base.html' %} {% block content %}

<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <span class="icon-check_circle display-3 text-success"></span>
        <h2 class="display-3 text-black">Рақмет!</h2>
        <p class="lead mb-5">Сіздің тапсырысыңыз орындалуда. Курьер жақын арада сізге жеткізеді.</p>
        <p>
          <a href="/" class="primary-button">
            Басты бет
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
